@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,800&display=swap');

html{
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

.container{
    min-width: 375px;
    height: 100vh;
    background-color: whitesmoke;
    padding: 25px;
}

.inputs-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-between;
    overflow: hidden;
}

.day, .month, .year{
    min-width: 30%;
    height: auto;
}

.day p, .month p, .year p{
    font-size: 0.45rem;
    font-weight: 700;
    color: hsl(0, 1%, 44%);
}

.day h2, .month h2, .year h2{
    font-size: .8rem;
    font-weight: 700;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 10px;
    padding: 10px;
    color: hsl(0, 1%, 44%);
}

.divider{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
    width: 100%;
    height: 60px;
    position: relative;
}

hr{
    background-color: #dbdbdb;
    height: 2px;
    border: none;
    width: 100%;
    align-self: center;
    position: relative;
    top: 27px;
    z-index: 0;
}

img{
    max-width: 18%;
    height: auto;
    margin: 0 auto;
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    padding: 15px;
    position: absolute;
    left: 39%;
    z-index: 1;
}

.bottom-container{
    vertical-align: middle;
}

h1{
    font-style: italic;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 1.7;
}

.dash{
    color: hsl(259, 100%, 65%);
}

@media screen and  (min-width: 700px){
    .container{
        width:700px;
        height: 600px;
        padding: 50px;
        margin: 0 auto;
        margin-top: 30px;
        border-radius: 50px;
        overflow: hidden;
    }

    .inputs-container{
        justify-content: start;
        gap: 20px;
    }

    .day, .month, .year{
        min-width: 140px;
        height: auto;
    }

    .day p, .month p, .year p{
        font-size: .6rem;
/*         font-weight: 700;
        color: hsl(0, 1%, 44%); */
    }

    .day h2, .month h2, .year h2{
        font-size: 1rem;
        padding: 8px 15px;
    }

    .divider{
        display: flex;
        flex-direction: row;
        position: static;
        height: 70px;
    }

    img{
        position: static;
        max-width: 70px;
        height: auto;
    }

    hr{
        position: static;
    }

}

